<link rel="stylesheet" href="/access/css/access.css">

<div id="access" class="section-profile">
  <div class="row">
    <div class="topleft duk-icon"><img onclick="removeSection('access')" src="/gui/img/x.png"></div>
    <div id="access-sidebar" class="column section-border" style="flex:25%;">
      <img src="/access/img/access.png">
      <h4 style="margin-bottom:-5px">Access</h4>
      <p class="section-description">
          Here you'll find exploits which are designed to initiate access on a remote
          host. Select an agent to run the exploit and the exploit itself to fill in the details associated to it.
      </p>
      <select id="access-pets" onchange="refresh()">
        <option disabled selected>Choose a runner</option>
        {% for a in agents %}
            <option value={{ a.paw }}>{{ a.host }}</option>
        {% endfor %}}
      </select>
      <select id="access-exploits" onchange="showProperties()">
        <option disabled selected>Choose an exploit</option>
        {% for k, v in exploits.items() %}
            <option value={{ k }}>{{ v }}</option>
        {% endfor %}}
      </select>
      <br>
      <button id="exploitExploit" type="button" class="button-success atomic-button" onclick="runExploit()">Exploit</button>
    </div>
    <div class="column" style="flex:75%">
        <ul id="exploits" class="profile-tests"></ul>
    </div>
  </div>
</div>

<li id="exploit-template" class="exploit-box" style="display: none">
    <center>
        <img id="exploit-image"/>
        <p id="exploit-status"></p>
        <h4 id="exploit-name"></h4>
        <p id="exploit-result"></p>
    </center>
</li>

<div id="properties-modal" class="modal">
    <form class="modal-content" style="width:50%;">
        <div class="container modal-box">
            <div class="row ability-viewer">
                <span onclick="document.getElementById('properties-modal').style.display='none'" class="close" title="Close Modal">&times;</span>
                <div class="column" style="flex:100%">
                    <center>
                        <h4 id="exploit-description" style="margin-top:2px;text-align:center"></h4>
                        <ul id="exploit-properties"></ul>
                    </center>
                </div>
            </div>
        </div>
    </form>
</div>

<li id="property-template" class="row-simple" style="display: none;list-style-type:none">
    <table class="obfuscation-table" border=1 rules=rows>
        <tr>
            <td style="width:50%"><p id="exploit-trait"></p></td>
            <td style="width:50%"><p id="exploit-value" contenteditable="true">Required value</p></td>
        </tr>
    </table>
</li>

<script>
    let refresher = setInterval(refresh, 10000);
    $('.section-profile').bind('destroyed', function() {
        clearInterval(refresher);
    });

    function refresh(){
        function refreshCallback(data){
            $('#exploits').empty();
            data[0].links.forEach(function(link) {
                if(link.ability.tactic === 'initial-access') {
                    let template = $("#exploit-template").clone();
                    template.find('#exploit-name').text(link.ability.name);
                    if (link.status === 0) {
                        template.find('#exploit-status').text('SUCCESS');
                        template.find('#exploit-image').attr('src', '/access/img/unlocked.png');
                        template.find('#exploit-result').html('&#9733;').click(function(){
                            fetchResult(link);
                        });
                    } else if (link.status > 0) {
                        template.find('#exploit-status').text('FAILED');
                        template.find('#exploit-image').attr('src', '/access/img/locked.png');
                        template.find('#exploit-result').html('&#9733;').click(function(){
                            fetchResult(link);
                        });
                    } else {
                        template.find('#exploit-status').text('IN-PROGRESS');
                        template.find('#exploit-image').attr('src', '/access/img/progress-lock.png');
                    }
                    template.show();
                    $('#exploits').append(template);
                }
            });
        }
        let paw = $('#access-pets option:selected').attr('value');
        if(paw != null) {
            restRequest('POST', {'index':'agents', 'paw': paw}, refreshCallback);
        }
    }

    function showProperties(){
        function propertiesCallback(data){
            let cmd = atob(data[0].test);
            let found = [], rxp = /{([^}]+)}/g, str = cmd, curMatch;
            while(curMatch = rxp.exec(str)) {
                found.push(curMatch[1]);
            }
            $('#exploit-properties').empty();
            $('#exploit-description').text(data[0].description);

            found.forEach(function(prop){
                let template = $("#property-template").clone();
                template.find('#exploit-trait').text(prop);
                template.show();
                $('#exploit-properties').append(template);
            });
            document.getElementById("properties-modal").style.display = "block";
        }
        let ability_id = $('#access-exploits option:selected').attr('value');
        restRequest('POST', {'index':'abilities', 'ability_id': ability_id}, propertiesCallback);
    }

    function runExploit(){
      function runExploitCallback(data){
          stream('Exploit tasked!');
      }
      let ability_id = $('#access-exploits option:selected').attr('value');
      let facts = [];
      $("#exploit-properties tr").each(function () {
            let trait = $(this.cells[0]).text();
            let value = $(this.cells[1]).text();
            facts.push({'trait':trait,'value':value});
      });
      let paw = $('#access-pets option:selected').attr('value');
      if(paw == null || ability_id == null) {
          alert('Missing requirement!');
      } else {
          let data = {'paw': paw, 'ability_id': ability_id, 'facts': facts};
          restRequest('POST', data, runExploitCallback, '/plugin/access/exploit');
      }
    }

    function fetchResult(link) {
        function loadResult(data) {
            document.getElementById('alert-modal').style.display='block';
            $('#alert-text').html(atob(data.output));
        }
        restRequest('POST', {'index':'result','link_id':link.unique}, loadResult);
    }
</script>